@{
    ViewBag.Title = "ConfirmPasswordRequest";
    Layout = "~/Views/Shared/_Layout_Simple.cshtml";
}

<p>Please check for a message from us which provides instructions on how to reset your password.</p>

